<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <connectionStrings>
    <add name="conBank" connectionString="Data Source = DESKTOP-SGS06H0\G3;user id=sa;password=p@ssw0rd123;Initial Catalog = dbTraining"/>
  </connectionStrings>
</configuration>