
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MyLayout.cshtml";
}

<h2>Index</h2>
<h1>From the Customer Index</h1>
<div>
    This is the new div
    @Html.Partial("_AppName")
</div>

