<section>
    <p *ngFor="let movie of movies" class="alert alert-warning">
        Name: {{movie.name}}<br/>
        Duration:{{movie.duration}}<br/>
        <!-- Movie Pic:<img [hidden]="movie.pic?false:true" [src]="movie.pic" height=100 width="100" alt="No Pic"/><br/> -->
        Movie Pic:<img *ngIf="movie.pic; else noImg" [src]="movie.pic" height=100 width="100" alt="No Pic"/>
        <ng-template #noImg>Sorry!!!!! no image available at this moment</ng-template>
        <br/>
        Fav Status:<span [class]="movie.likeStatus>3?'glyphicon glyphicon-heart':'glyphicon glyphicon-heart-empty'"> 
        </span>
    </p>
</section>
