<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>_MyLayout</title>
    <style>
        h1{
            background-color:greenyellow;
        }
    </style>
</head>
<body>
    <div> 
        <h1>Special Layout</h1>
    </div>
    <div>
        @RenderBody()
    </div>
    <div>Footer</div>
</body>
</html>
